.cproject
.project
.ccls-cache
*.png
*.mp4
*.ipynb
*.el
*.out
*.un~
*.h5
result*
build
bin
Data
ninja
compile_commands.json
.cquery_cached_index
aperture
delrun
*.nvvp
GPATH
GRTAGS
GTAGS
ID
python/__pycache__
